{% extends "base.html" %} {% load static %} {% block content %}
<section class="hero is-fullheight" id="index">
  <div class="hero-body">
    <div class="container hero-body-container">
      <h1 class="main-text fade-in">
        > iainru
      </h1>
      <h1 class="main-text fade-in">
        My name is Iain Russell,
      </h1>
      <h1 class="main-text fade-in">
        I am a creator and full stack web developer,
      </h1>
      <h1 class="main-text fade-in">
        specializing in Javascript and Python.
      </h1>
    </div>

  </div>
  <a class="fas fa-long-arrow-alt-down fade-in" href="http://iainru.com/projects"></a>
</section>

{% endblock content %} {% block js_script %}
<script>
  setTimeout(function() {
    document.addEventListener("keydown", event => {
      const key = event.keyCode;
      if (key === 37 || key === 38) {
        window.location = "http://iainru.com/links";
      } else if (key === 39 || key === 40) {
        window.location = "http://iainru.com/projects";
      }
    });
  }, 1500);
  if (document.referrer === "http://iainru.com/links/") {
    document.querySelector("#index").classList.add("fromLinks");
  } else if (document.referrer === "http://iainru.com/projects/") {
    document.querySelector("#index").classList.add("fromProjects");
  } else {
    document.querySelector("#index").classList.add("fromLinks");
  }
  window.onload = function() {
    document.querySelector("#index").classList.add("indexActive");
  };

  // // Scroll to page change
  //
  // let TOTAL = 0;
  // setTimeout(function() {
  //   window.addEventListener("wheel", onWheel);
  //   function onWheel(event) {
  //     var delta = event.wheelDelta;
  //     if (delta) {
  //       var normalized = (delta % 120) == 0 ? delta / 120 : delta / 12;
  //     }
  //     var newIndex = normalized > 0 ? 0 + 1 : 0 - 1;
  //     TOTAL += newIndex ;
  //     if (TOTAL > 15) {
  //       TOTAL = 0;
  //       window.location = "http://iainru.com/links/"
  //     } else if (TOTAL < -15) {
  //       TOTAL = 0;
  //       window.location = "http://iainru.com/projects/"
  //     }
  //   }
  // }, 2000);

</script>
{% endblock js_script %}
